#profilepic {
	border-radius: 50% / 80%;
	width: 500px;
	display: block;
	margin: 0 auto;
}

#h1 {
	text-align: center;
}

body {
	background-image: url('images/I_look_like_shit.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#theThree {
	text-align: center;
	
}

span {
	padding: 50px;
}
#quote {

  
  
  background-image: linear-gradient(45deg, red, orange, yellow, green, blue, violet, red);
  background-size: 400% 100%;
  background-position: 0% 50%;
  
  background-clip: text;
  color: transparent;
  animation-name: panRainbow;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes panRainbow {
  0% {background-position: 0% 50%;}
  100% {background-position: 400% 50%;}
}

#quote {
	font-size: 40px;
  font-weight: bold;
  animation-name: waveText;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes waveText {
	from {font-size: 40px;}
	to {font-size: 60px}
}